<h2>Live Football World Cup Score Board</h2>

<div class="score-board">
  <table
    mat-table
    [dataSource]="scoreBoardService.scoreBoard$"
    class="mat-elevation-z8"
  >
    <!-- HOME -->

    <ng-container matColumnDef="home">
      <th mat-header-cell *matHeaderCellDef class="team-header">Home</th>
      <td mat-cell *matCellDef="let match">
        {{ match.homeTeam }}
      </td>
    </ng-container>

    <ng-container matColumnDef="homeScore">
      <th mat-header-cell *matHeaderCellDef class="score-column"></th>
      <td mat-cell *matCellDef="let match" class="score-column">
        {{ match.homeTeamScore }}
      </td>
    </ng-container>

    <!-- AWAY -->

    <ng-container matColumnDef="away">
      <th mat-header-cell *matHeaderCellDef class="team-header">Away</th>
      <td mat-cell *matCellDef="let match">
        {{ match.awayTeam }}
      </td>
    </ng-container>

    <ng-container matColumnDef="awayScore">
      <th mat-header-cell *matHeaderCellDef class="score-column"></th>
      <td mat-cell *matCellDef="let match" class="score-column">
        {{ match.awayTeamScore }}
      </td>
    </ng-container>

    <!-- ACTIONS -->

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let match">
        <button mat-button color="primary" (click)="updateScore(match)">
          Update
        </button>
        <button mat-button color="accent" (click)="finishMatch(match)">
          Finish
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let match; columns: displayedColumns"></tr>
  </table>

  <button mat-raised-button color="primary" (click)="startMatch()">
    Start a game
  </button>
</div>
