<h1 mat-dialog-title>{{ isNew ? 'Start a Game' : 'Update Score'}}</h1>

<div mat-dialog-content>
  <table>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Home team</mat-label>
          <mat-select [formControl]="homeTeam">
            <mat-option *ngFor="let team of teams" [value]="team">
              {{team}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="homeTeam.errors?.['required']"
            >Specify home team.</mat-error
          >
          <mat-error *ngIf="homeTeam.errors?.['sameTeam']"
            >Make different than away team.</mat-error
          >
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="outline">
          <mat-label>Away team</mat-label>
          <mat-select [formControl]="awayTeam">
            <mat-option *ngFor="let team of teams" [value]="team">
              {{team}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="awayTeam.errors?.['required']"
            >Specify away team.</mat-error
          >
          <mat-error *ngIf="awayTeam.errors?.['sameTeam']"
            >Make different than home team.</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Home score</mat-label>
          <input matInput type="number" [formControl]="homeTeamScore" />
          <mat-error *ngIf="homeTeamScore.invalid"
            >Specify not negative integer.</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Away score</mat-label>
          <input matInput type="number" [formControl]="awayTeamScore" />
          <mat-error *ngIf="awayTeamScore.invalid"
            >Specify not negative integer.</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onOk()">Ok</button>
  <button mat-raised-button color="basic" matDialogClose>Close</button>
</div>
